{% extends "adminbase.html" %}
{% load static %}
{% block body %}

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 panel panel-body" style="border-radius: 5px;box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);margin-top:3%">
        <h2 style="color:green;text-align:center;text-decoration:underline;">Edit News & Events</h2><br>
            <hr>
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-12">
                <label>Edit News</label>
                 <textarea name="newstext" class="form-control">{{obj.newstext}}</textarea>
            </div>
             <br>
            <div class="form-group col-sm-12">
            <input type="submit" value="Update" class="btn btn-info">
            </div>
        </form>
    </div>
        <div class="col-sm-3"></div>
</div>
</div>
    </div>
<script>
    {% if alert %}
    alert("News updated successfully.")
    window.location=('{% url 'adminhome' %}');
    {% endif %}
</script>
{% endblock %}