{% extends "adminbase.html" %}
{% load static %}
{% block body %}
<div class="container-fluid" >
    <div class="col-sm-1"></div>
    <div class="col-sm-12 panel panel-body" style="overflow-x:scroll;border-radius: 5px;box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);margin-top:3%">
    <p style="color:black;text-align:center;text-decoration:underline;font-size:38px;font-family: 'Ubuntu', sans-serif;margin-top:1%">Recruiters List</p><br>
    <table class="table table-hover" border="2" id="myTable">
          <thead>
        <tr style="background-color:lightgrey;border:2px solid black;color:black">
              <th>S.No.</th>
            <th>Company Logo</th>
            <th>Firm Name</th>
            <th>Firm Address</th>
            <th>Contact Person Name</th>
            <th>Contact  No</th>
            <th>Email Address</th>
            <th>Aadhar No</th>
            <th>PAN No</th>
            <th>GST No</th>
            <th>Registration Date</th>
             <th>Action</th>
        </tr>
          </thead>
        <tbody>
        {% for e in emp %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><img src="{{e.photo.url}}" style="height:100px;width:100px;"></td>
            <td>{{e.firm_name}}</td>
            <td>{{e.firm_address}}</td>
            <td>{{e.cpname}}</td>
            <td>{{e.cpcontactno}}</td>
            <td>{{e.cpemailaddress}}</td>
            <td>{{e.aadharno}}</td>
            <td>{{e.panno}}</td>
            <td>{{e.gstno}}</td>
            <td>{{e.regdate}}</td>
            <td><a href="{% url 'delete_emp' id=e.cpemailaddress %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}