{% extends "base.html" %}
{% load static %}

{% block body %}
<style>
           @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
}
label{
font-size:15px;
font-weight:500;
color:black;
}
    .select{
    height: 40px;
    border:1px solid black;
    background: transparent;
    border-radius: 0px;
    outline: none;
    color: black;
}
#input{
width: 100%;
border: 1px solid black;
font-family: "Poppins", sans-serif;
font-size: 15px;
padding:10px;
color: black;
min-height: 100px;
border-radius: 1px;
outline: none;
resize: none;
overflow-y: auto;
}
#input:focus{
    outline: none;
    box-shadow: none;
}
#input::placeholder {
color: black;
font-size: 14px;
}
  .form-control:focus{
    box-shadow: none;
    border: 1px solid black;
}
input[type='text'],input[type='email'] ,input[type='number'],input[type='date'],input[type='password'],input[type='file']{
    height: 40px;
    border:none;
    border: 1px solid black;
    background: transparent;
    border-radius: 0px;
    outline: none;
    color: black;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}
input[type='text']::placeholder,input[type='email']::placeholder,
input[type='number']::placeholder,input[type='date']::placeholder,input[type='password']::placeholder{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
 input[type='submit'] {
            height: 35px;
            width: 70%;
            align-items: center;
            justify-content: center;
            background-color:rgb(74, 122, 252);
            border: none;
            outline: none;
            border-radius: 3px;
            margin-top: 5%;
        }

        input[type='submit']:hover{
            background-color: blue;
            transition: 1s;
        }
        #request{
font-size: 30px;
font-weight: 500;
color: blue;
}
#send{
margin-left: 2%;
font-size:30px;
}
#hr1{
border: none;
outline: none;
width:20%;
height: 4px;
background-color:#4d18c9;
margin-left: 2%;
border-radius: 5px;
margin-top: -1%;
animation: animate1 4s linear infinite;
}
@keyframes animate1 {
    0%{
        width:50px;
    }
    50%{
        width:200px;
    }
    100%{
        width:50px;
    }
}
.panel{
margin-top:3%;
    border-radius: 15px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
}
</style>
            <script>
                  {% if msg %}
               alert('{{msg}}')
               {% endif %}
             </script>
<script>
    function checknum(){
    var mobile=document.getElementById('mobile');
    if(mobile.value.length!=10)
    {
    mobile.style.border="2px solid red";
    alert('Please put 10 digit contact number');
    return false;
    }
    return true;
    }
</script>

 <div class="container">
        <div class="row">
                <div class="col-sm-12 panel panel-body" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
                   <h3 id="send">Jobseeker <span id="request">Registration Form</span></h3>
                    <hr id="hr1"><br>
                <form action="{% url 'jsreg' %}" method="post"  onsubmit="return checknum()" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-sm-6">
                        <label>Name</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <input class="form-control" type="text" name="name"  placeholder="Enter name" required="true"/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Email</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <input class="form-control" type="email" name="emailaddress"  placeholder="Enter email"  required="true"/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Contact No</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <input class="form-control" type="number" placeholder="Enter mobile no"  name="contactno" id="mobile" required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Date of Birth</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <input class="form-control" type="date" name="dob" required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Gender</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                  <select name="gender" class="form-control select">
                            <option>--Select--</option>
                             <option>Male</option>
                            <option>Female</option>
                             <option>Prefer not to say</option>
                        </select>
                   </div>
                    <div class="form-group col-sm-6">
                        <label>Qualification</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <select name="qualification" class="form-control select">
                            <option>--Select--</option>
                             <option>M.tech</option>
                             <option>M.C.A</option>
                            <option>B.Tech</option>
                             <option>B.C.A</option>
                             <option>Diploma CS/IT</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Experience</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <select name="experience" class="form-control select">
                            <option>--Select--</option>
                            <option>0 years</option>
                             <option>1 years</option>
                             <option>2 years</option>
                             <option>3 years</option>
                             <option>4 years</option>
                             <option>5 years</option>
                             <option>More than 5 years</option>
                        </select>
                    </div>
                      <div class="form-group col-sm-6">
                        <label>Password</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                        <input class="form-control" type="password" name="password" placeholder="Enter password" required="true"/>
                    </div>
                     <div class="form-group col-sm-6">
                        <label>Address</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                       <textarea class="form-control" name="address" id="input" placeholder="Enter your address.."></textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Keyskills</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                       <textarea class="form-control" name="keyskills" id="input" placeholder="Enter your keyskills.."></textarea>
                    </div>
                     <div class="form-group col-sm-6">
                           <label>Profile Photo</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input class="form-control" type="file" name="image">
            </div>
                     <div class="form-group col-sm-6">
                <input class="btn btn-success" type="submit" name="submit" value="Register Now">
            </div>
            </form>
                </div>
            </div>
        </div>
{% endblock %}