{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="col-sm-1"></div>
     <div class="col-sm-12 panel panel-body" style="overflow-x:scroll;border-radius: 5px;box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);">
    <p style="color:black;text-align:center;text-decoration:underline;font-size:38px;font-family: 'Ubuntu', sans-serif;margin-top:1%">Latest Jobs List</p><br>
    <table class="table table-hover" border="2" id="myTable">
        <thead>
        <tr style="background-color:lightgrey;border:2px solid black;color:black">
            <th>S.No.</th>
            <th>Company name</th>
            <th>Job Title</th>
            <th>Start Date</th>
            <th>Last Date</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for j in jl %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{j.firmname}}</td>
            <td>{{j.jobtitle}}</td>
            <td>{{j.start_date}}</td>
            <td>{{j.end_date}}</td>
            <td>{{j.location}}</td>
           <td><a href="{% url 'login' %}" class="btn btn-success">Login to Apply</a> </td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
         </div>
     <div class="col-sm-1"></div>
</div>


{% endblock %}