{% extends "empbase.html" %}
{% load static %}
{% block body %}
      <script>
               {% if msg %}
               alert('{{msg}}')
               window.location=('{% url 'joblist' %}')
               {% endif %}


             </script>
<div class="container-fluid">
    <div class="row">
        <div  class="col-sm-12" style="padding:0px">
            <img src="{% static 'images/post.jpg' %}" class="img-responsive" style="margin-top:-20px;width:100%;height:400px">
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 panel panel-body" style="border-radius: 5px;box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);margin-top:3%">
        <h2 style="color:green;text-align:center;text-decoration:underline;">POST JOB</h2><br>
            <hr>
        <form action="{% url 'pjob' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-6">
                <label>Job Title</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="jobtitle" class="form-control" required="True">
            </div>
             <div class="form-group col-sm-6">
                <label>Start Date</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="date" name="start_date" class="form-control" required="True">
            </div>
             <div class="form-group col-sm-6">
                <label>End Date</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="date" name="end_date" class="form-control" required="True">
            </div>
             <div class="form-group col-sm-6">
                <label>Job Type</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="jobtype" class="form-control" required="True">
            </div>
            <div class="form-group col-sm-6">
                <label>Qualification</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="qualification" class="form-control" required="True">
            </div>
            <div class="form-group col-sm-6">
                <label>Experience (In Years)</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="experience" class="form-control" required="True">
            </div>
                <div class="form-group col-sm-6">
                <label>Skills</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="skills" class="form-control" required="True">
            </div>
            <div class="form-group col-sm-6">
                <label>Location</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="location" class="form-control" required="True">
            </div>
            <div class="form-group col-sm-6">
                <label>Salary (Per Annum)</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="text" name="salarypa" class="form-control" required="True">
            </div>
            <div class="form-group col-sm-6">
                <label>Company Logo</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                <input type="file" name="img" class="form-control" required="True">
            </div>

            <div class="form-group col-sm-12">
                <label>Job Description</label> <span style="color:red;font-size:15px;font-weight:bold">*</span>
                 <textarea class="form-control" style="height:200px" name="jobdesc" placeholder="Enter job description..."></textarea>
            </div><br>
            <div class="form-group col-sm-12">
            <input type="submit" class="form-control btn-primary" value="Submit" onclick="return confirm('Dou you want to post a job?')"></div>
        </form>
    </div>
        <div class="col-sm-2"></div>
</div>
</div>
    </div>
{% endblock body %}